*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Exclude unrelated projects in this folder
ShopNearMe/
AgriShop/
game/
game2/
gamer/
jump/
demo/
Platform/

# Extra safety for secrets
*.keystore
*.jks
google-services.json
